/Guía 2/ManosALaObra2/nbproject/private/
/Guía 3/ManosALaObra2/build/
/Guía 3/ManosALaObra3/nbproject/private/
/Guía 3/ManosALaObra3/build/
/Guía 3/ManosALaObra4/nbproject/private/
/Guía 3/ManosALaObra4/build/
/Guía 3/ManosALaObra5/nbproject/private/
/Guía 3/ManosALaObra5/build/
/Guía 3/ManosALaObra6/nbproject/private/
/Guía 3/ManosALaObra6/build/
/Guía 3/EjerciciosGuia3/nbproject/private/
/Guía 3/EjerciciosGuia3/build/