/Guía 2/ManosALaObra2/nbproject/private/
/Guía 3/ManosALaObra2/build/
/Guía 3/ManosALaObra3/nbproject/private/
/Guía 3/ManosALaObra3/build/
/Guía 3/ManosALaObra4/nbproject/private/
/Guía 3/ManosALaObra4/build/
/Guía 3/ManosALaObra5/nbproject/private/
/Guía 3/ManosALaObra5/build/
/Guía 3/ManosALaObra6/nbproject/private/
/Guía 3/ManosALaObra6/build/
/Guía 3/EjerciciosGuia3/nbproject/private/
/Guía 3/EjerciciosGuia3/build/
/Guía 3/EjerciciosExtraGuia3/nbproject/private/
/Guía 3/EjerciciosExtraGuia3/build/
/Guía 4/ManosALaObra7/nbproject/private/
/Guía 4/ManosALaObra7/build/
/Guía 4/ManosALaObra8/nbproject/private/
/Guía 4/ManosALaObra8/build/
/Guía 4/EjerciciosGuia4/nbproject/private/
/Guía 4/EjerciciosGuia4/build/
/Guía 4/EjerciciosGuia5/nbproject/private/
/Guía 5/EjerciciosGuia5/build/
/Guía 2/EjerciciosGuia2/nbproject/private/
/Guía 2/EjerciciosGuia2/build/
/Guía 2/EjerciciosExtraGuia5/nbproject/private/
/Guía 2/EjerciciosExtraGuia5/build/
/Guìa 7/ManosALaObra11/nbproject/private/
/Guìa 7/ManosALaObra11/build/
/Guìa 7/G07Ej01/nbproject/private/
/Guìa 7/G07Ej01/build/
/Guìa 7/G07Ej02/nbproject/private/
/Guìa 7/G07Ej02/build/
/Guìa 7/G07Ej03/nbproject/private/
/Guìa 7/G07Ej03_operacionesAritmeticas/nbproject/private/
/Guìa 7/G07Ej03_operacionesAritmeticas/build/
/Guìa 7/G07Ej04_Rectangulo/nbproject/private/
/Guìa 7/G07Ej04_Rectangulo/build/
/Guìa 7/G07Ej01EX_Cancion/nbproject/private/
/Guìa 7/G07Ej02EX_Coordenadas/nbproject/private/
/Guìa 7/G07Ej02EX_Coordenadas/build/
/Guía 8/ManosALaObra12/nbproject/private/
/Guía 8/ManosALaObra12/build/
/Guía 8/G08Ej01_CuentaBancaria/nbproject/private/
/Guía 8/G08Ej01_CuentaBancaria/build/
/Guía 8/G08Ej02_Cafetera/nbproject/private/
/Guía 8/G08Ej02_Cafetera/build/
/Guía 8/G08Ej03_PersonaPesoYEdad/nbproject/private/
/Guía 8/G08Ej03_PersonaPesoYEdad/build/
/Guía 8/G08Ej01EX_Ecuacion2Grado/nbproject/private/
/Guía 8/G08Ej01EX_Ecuacion2Grado/build/
/Guía 8/G08Ej02Ex_DNILetra/nbproject/private/
/Guía 8/G08Ej02Ex_DNILetra/build/